<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-interval="1000" data-bs-ride="carousel">
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
   </div>
   <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="carousel-content-1">
            <%= image_tag "slides/slide 1.png", alt: "First Slide"%>
            <div class="wrapper">
               <div class="typing-demo"> Event Cancelled !</div>
            </div>
            <h2> Check Our Event Page For More Information</h2>
            <div class="carousel-caption d-none d-md-block">
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="carousel-content-2">
            <%= image_tag "slides/slide 2.png", alt: "Second Slide"%>
            <br>
            <br>
            <div class="centering">
               <div>
                  <h4> New <span>T</span> <span>I</span> <span>T</span> <span>L</span> <span>E</span> <span>S</span>
                     Added For <span>2</span> <span>0</span> <span>2</span> <span>0</span>
                  </h4>
               </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="carousel-content-3">
            <%= image_tag "slides/slide 3.png", alt: "Third Slide"%>
            <br>
            <h2> Check Our Event Page For More Information</h2>
            <br>
            <h1><span><%= link_to "VIEW OUR EVENT PAGE", event_path%></span></h1>
            <br>
            <br>
            <div class="carousel-caption d-none d-md-block">
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="carousel-content-4">
            <div class="carousel-content-4">
               <div class="box">
                  <div class="content">
                     <h1>Adopt A Book In Memory Of Someone...</h1>
                     <h1> And Receive A Virtual Bookplate</h1>
                     <h1> With Your Chosen Message.</h1>
                  </div>
               </div>
               <br>
               <br>
               <%= image_tag "slides/slide 4.png", alt: "Fourth Slide"%>
               <br>
               <div class="carousel-caption d-none d-md-block">
               </div>
            </div>
         </div>
      </div>
   </div>
   <br>
   <br>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="visually-hidden">Next</span>
   </button>
</div>
<br>
<div class="center">
   <div class="welcome-wrap">
      <div class="cll-left">
         <strong>The UC Libraries Adopt-A-Book program provides essential funding to support the preservation, acquisition and digitization of books, manuscripts and collections held by the region&rsquo;s top-ranked research library</strong>.
      </div>
   </div>
   <br>
   <div class="welcome-paragraph">
      <p> Book adoptions are a wonderful way to honor loved ones and mark special occasions, while supporting the mission of the UC Libraries.<br><br>
         When you adopt a book, you will be acknowledged via a virtual bookplate on our website and on a physical bookplate in your selected item. If you would like to adopt a book in honor or in memory of someone, please indicate this during the check-out process. All Adopt-A-Book donations are tax deductible. Donors will receive a gift acknowledgment and tax receipt from the UC Foundation.<br><br>
         We also welcome you to come see your adopted book in person – just be in touch with Christa Bernardo to schedule a time.  To learn more about our Adopt-A-Book program or supporting other areas of the UC Libraries, contact Christa Bernardo at (513) 556-0055 or <a href="mailto:christa.bernardo@uc.edu">christa.bernardo@uc.edu</a>.
         Thank you for generosity and support of the UC Libraries. <br>
      </p>
   </div>
</div>
