<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @product.author %>
</p>

<p>
  <strong>Pub year:</strong>
  <%= @product.pub_year %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Library:</strong>
  <%= @product.library %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% unless @product.category == 'Build the Collection' %>
<p>
  <strong>Condition treatment:</strong>
  <%= @product.condition_treatment %>
</p>
<% end %>

<p>
  <strong>Adopt status:</strong>
  <%= @product.adopt_status %>
</p>

<p>
  <strong>Adopt amount:</strong>
  <%= number_to_currency(@product.adopt_amount, strip_insignificant_zeros: true) %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @product.release_year %>
</p>

<p>
  <strong>Dedication:</strong>
  <%= @product.dedication %>
</p>

<p>
  <strong>Recognition:</strong>
  <%= @product.recognition %>
</p>

<p>
  <strong>Adopter fname:</strong>
  <%= @product.adopter_fname %>
</p>

<p>
  <strong>Adopter lname::</strong>
  <%= @product.adopter_lname %>
</p>

<p>
  <strong>Adopter address:</strong>
  <%= @product.adopter_address %>
</p>

<p>
  <strong>Adopter phone:</strong>
  <%= @product.adopter_phone %>
</p>

<p>
  <strong>Adopter email:</strong>
  <%= @product.adopter_email %>
</p>

<p>
  <strong>Adopt time:</strong>
  <%= @product.adopt_time %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
