<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @product.author %>
</p>

<p>
  <strong>Pub year:</strong>
  <%= @product.pub_year %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Library:</strong>
  <%= @product.library %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% unless @product.category == 'Build the Collection' %>
<p>
  <strong>Condition treatment:</strong>
  <%= @product.condition_treatment %>
</p>
<% end %>

<p>
  <strong>Adopt status:</strong>
  <%= @product.adopt_status.capitalize %>
</p>

<p>
  <strong>Adopt amount:</strong>
  <%= number_to_currency(@product.adopt_amount, strip_insignificant_zeros: true) %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @product.release_year %>
</p>

<% unless @product.dedication.blank? && @product.recognition.blank? %>
  <p>
    <strong>Dedication:</strong>
    <%= @product.dedication %>
  </p>

  <p>
    <strong>Recognition:</strong>
    <%= @product.recognition %>
  </p>
<% end %>

<% if defined? @adopter %>
  <p>
    <strong>Adopter fname:</strong>
    <%= @adopter.fname %>
  </p>

  <p>
    <strong>Adopter lname::</strong>
    <%= @adopter.lname %>
  </p>

  <p>
    <strong>Adopter address:</strong>
    <%= @adopter.address %>
  </p>

  <p>
    <strong>Adopter phone:</strong>
    <%= @adopter.phone %>
  </p>

  <p>
    <strong>Adopter email:</strong>
    <%= @adopter.email %>
  </p>

  <p>
    <strong>Adopt time:</strong>
    <%= @adopter.time %>
  </p>
<% end %>

<% if session[:cart] && session[:cart].include?(@product.id.to_s) %>
  <p>
    <a>Added to cart</a>
    <%= link_to 'View cart', cart_path %>
    <%= link_to 'Adopt more books', status_products_path(:status => "available") %>
  </p>
<% else %>
  <p><%= link_to 'Add to cart', @product, remote: true, method: :post %></p>
<% end %>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', status_products_path(:status => @product.adopt_status) %>
