<footer>
   <p>
      <b>University of Cincinnati Libraries</b><br>
      PO Box 210033, Cincinnati, Ohio 45221-0033<br>
      Phone: 513-556-1424
   </p>
   <%= link_to 'Alerts', ENV['ALERTS'] %> |
   <%= link_to 'Clery and HEOA Notice', ENV['CLERY_AND_HEOA_NOTICE'] %> |
   <%= link_to 'Notice of Non-Discrimination ', ENV['NOTICE_OF_NON_DISCRIMINATION'] %> |
   <%= link_to 'eAccessibility Concern', ENV['E_ACCESSIBILITY_CONCERN'] %> |
   <%= link_to 'Copyright Information ', ENV['COPYRIGHT_INFORMATION'] %>
</footer>
