<header>
  <div id="header-top">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <%= image_tag 'uclogo.png', height: '50'%>
        </div>
        <div class="text col-6 text-right">
            LIBRARIES
        </div>
      </div>
    </div>
  </div>
  <div id="header-bottom">
    <div class="container">
      <% unless admin_signed_in? %>
        <div class="row">
          <div id="logo" class="col-3">
            <%= link_to image_tag('logo.png'), root_path %>
          </div>

          <div id="links" class="col-8">
              <nav class="navbar">
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <%= link_to 'Available Books', status_products_path(:status => 'available'), :class => 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Adopted Books', status_products_path(:status => 'adopted'), :class => 'nav-link' %>
                  <li>
                  <li class="nav-item">
                    <%= link_to 'Event', event_path, :class => 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Donors', '/', :class => 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'Contact', '/', :class => 'nav-link' %>
                  </li>
              </nav>
          </div>

          <div class="col-1">
            <nav class="navbar">
              <%= link_to image_tag('cart.png'), cart_path %>
              <% unless session[:cart].blank? %>
                <%= link_to session[:cart].keys.count, cart_path, class: 'btn btn-circle' %>
              <% end %>
            </nav>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div id="logo" class="col-3">
            <%= link_to image_tag('logo.png'), root_path %>
          </div>

          <div id="links" class="col-9">
            <nav class="navbar">
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <%= link_to 'Available Books', status_products_path(:status => 'available'), :class => 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Adopted Books', status_products_path(:status => 'adopted'), :class => 'nav-link' %>
                <li>
                <li class="nav-item">
                  <%= link_to 'Pending Books', status_products_path(:status => 'pending'), :class => 'nav-link' %>
                <li>
                <li class="nav-item">
                  <%= link_to 'Event', event_path, :class => 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Donors', '/', :class => 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Contact', '/', :class => 'nav-link' %>
                </li>
            </nav>
          </div>
        </div>

        <div id="login" class="row">
          <p>Logged in as <%= current_admin.email %></p>
          <%= link_to "Logout", destroy_admin_session_path, :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</header>
