<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Adopt-A-Book | UC Libraries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% unless admin_signed_in? %>
      <%= javascript_include_tag 'cart_expiry'%>
    <% end %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "layouts/header.html.erb" %>
      <br>
      <div class="main-content container">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
      <br>
      <%= render "layouts/cart_expiry_confirm.html.erb" %>
      <%= render "layouts/footer.html.erb" %>
    </div>
  </body>
</html>
